#Objective - To identify if the bills provided are from restaurants or from non-restaurants.

Importing necessary modules

In [1]:
!sudo apt install tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytesseract in /usr/local/lib/python3.7/dist-packages (0.3.10)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from pytesseract) (21.3)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.7/dist-packages (from pytesseract) (9.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->pytesseract) (3.0.9)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pytesseract
import shutil
import os
import random
try:
 from PIL import Image
except ImportError:
 import Image

**project**

**bill classification**

**get_text function reads the text from the image using pytesseract**

In [4]:
def get_text(address):
  extractedInformation = pytesseract.image_to_string(Image.open(address))
  return extractedInformation.lower().strip()

In [5]:
import os

In [6]:
a=os.listdir("/content/drive/MyDrive/EY/res1")
a

['r2.jpg',
 'r6.jpg',
 'r5.jpg',
 'r1.jpg',
 'r3.jpeg',
 'r4.jpg',
 'r7.jpg',
 'r8.jpg',
 'r9.jpg',
 'r10.jpg']

In [7]:
restaurant_bills=[]

Here we loop through all the files in the folder res1 and extract the text from the respective image files

In [8]:
for i in a:
  address=f"/content/drive/MyDrive/EY/res1/{i}"
  restaurant_bills.append(get_text(address))

In [9]:
restaurant_bills

['1 no waiter\n\nab6i5 waiter 5 06/06\niten price oty\nflavoured wojito 330, 00 1\nsaaneh mint 170.00 1\n‘ong island elec 340.00 2\ncrunchy salad 180.00 1.000\nassorted satay 260.00 1\n\n \n\ntequila chicken 320.00 1.000\nfajitas chicken 300.00 1.0u0 ).{\nsurf n turf 360, oo 1.000 360.¢\ntotal seaat ity 9. 00\n\ngross total\n\nvat 5.5%\n\nvat 14.5 %\n\nservice tax 5.6%\nservice charges 10.00%\nnet amount\nget back joe joe!\n\npo ee ie ahi i ea: a ie ee ee ee ee\n\na nl a eal ia',
 'mocambo restaurant\n258, park street\nkolkata- 700016\n\n22290095/22654300\n\nvat # 19430049049\n\nst#afzpk5418csd001\n\ninvoice\n\nmemo# 14/19806 03:35 pm 24-sep-2014\nuser: lal babu pax# 2\n\ntablet pec\n\nproduct qty i amount\ndevilled crab 1 296.00 296.00\nfresh lime soda 2 66.00 130.00\nfish diana 1 378.00 378.00\nsurf & turf 1 493.00 493.00\np.a. souffle 1 188,00: 128.00\nsub total 1430. 00\nservice tax@4, 944% 10. 70\nvat @ 14.5 % 207. 36\nround off: = 06\ntotal qty: 6 amt: 1708. 00\n\nconned one thousand seven hundred eight\nnly\nthank you',
 'anandha bhavan a/c\n13 /a ecr wain road. pillatyarkuppam\ngstin 34aayfa450681z0\n‘wish you all a very happy. new year\ndate 26/01/2018 time :09:53 aw\nwaiter :siva.a table :8\n\nname rate ty asount\n\n \n\nrs.404.00 j\n\nthan you. visit again',
 'biil\n\ndeso1/07/17  o1244ph m/cz04 no:459\n45/0 the2 w210\n\ndescription qty rate = amount\nresh coffee 2 40.0 80.00\nfood amt rs. 80.00\nc6st @ 6.00 cn 80.00 4,90\nses? @ 6.00 on 80.00 4,80\nhet food amt rs. 89,60\ncasy sog\n\nf ost tam s9536)17f\ni xthank your.',
 'chinese plate\n\nfood business center\n\n23232, java city, selangor\nny, usa\ntel : 03-435435435\n\ntable - 06\ncheck # 622967, pax(s): 04\ndate 11/01/2020 18:34\n\ncashier david smith\n\n \n \n  \n\n \n\n3\n4 soda\n\n4 desserts\n\nsbioctal:  tsti<“<is*~“‘“‘<‘<=~;é‘;*«ss‘cb\nfood tax 2.90\nlocal tax 1.28\ntotal : 79.66\n\ntake home a bag of meatballs and 2 pkgs. of\ncream sauce for only $9.99\nmade from an authentic recipe!',
 'family restaurant\n\nviay nagar, nearby c21 mal. indore madhya\nradeeh nd,\n\nmobile no: 9876543210\ndate-may 11,2019\nterm name qty. rate amount\n\npaza large 14300 430.0\npasta 2 2200 4400\n\ndal makhan - full 1 180.0 180.0\n\ninvoice no-40\n\n‘adational discount 00\ntotal qty: 40\n‘total payable value: 1,050.00\n\n‘tank you, ve agit',
 'arham restaurant llp\nva/2,raghuvanshi 4111 compound\n“senapati bapat marg\n| eo. mumbai 400013\n1\n\n \n\nspecial mocktatl\nfy aerated drinks,\n\n \n\n \n\noa)\nse\n88\n\n2/2/4\n\ngst no: 27abcfas632p1z5 {09:33 pm)\n£.8 0.e. plesure serving you !1!',
 'sukhdey yaishno dhaba\nroad, murthal, sonipat. haryana\n\n‘phone no (0130-2475s85, 86071\n(gstin q6abifs3901k123\n\nbill no. 140 bae 01072017\ntabtelno- 10 water code\n\nsre ‘oy pave\n\n30) $0.00\nra(seasonal\n\nalu prantha $500\ndal makent 150,\nswebt lassi\nkinley water\nplainrot\nkullad chai\nsu total\n\n‘aaa $ gst(o 00086) 00 835\nadc gtc 10079) 09810\n‘amos nck of al tat\n\nsataer-mohit\n\n“thank yo 0 yoo i\n\nave 3 o27\n\ni\n\nmen\n\nvale\n\n180.00\n\n150,00\n\n8.00\nasi\n\nsrs\n\n5716\n749.00',
 'vivaha bhojananbu\nroad no.10, jubilee hills\n\nhyderabad\n\n   \n  \n  \n \n       \n\n7999799905\ndate : 01/01/2017 time ; 13:55\nbilled by : siva bill no +: 14\norder type : dine in ~ lable ; 25\nfuest name : guest\nttem nae qty price\n\navakaya kodi pulao | 239.0\nguntur kodi koora 1 279.0\nbutter naan 3 177.0\n| goleonda kodi | 379.0\n| palavancha kodi pulao 1 299.0\ngongura kodi koora 1 279.0\n\ntota] io.items: 6 ; total no.aty ; 8\n\nsub total ‘ wn2\nservice charget3 : 51.36\n\ntanto 105.802\n88,168\n\n1957.0\n\naes',
 '253.50\n\ne\n\ntotal']

In [10]:
len(restaurant_bills)

10

In [11]:
non_restaurant_bills=[]

We do the same for the other folder having non-restaurant bills

In [12]:
a=os.listdir("/content/drive/MyDrive/EY/non res")
a

['n2.jpg', 'n3.jpeg', 'n1.jpeg', 'n5.jpg', 'n4.jpg']

In [13]:
for i in a:
  address=f"/content/drive/MyDrive/EY/non res/{i}"
  non_restaurant_bills.append(get_text(address))

In [14]:
non_restaurant_bills

[', invoice\n\nyour company llc address 123, state, my country p 111-222-333, f 111-222-334\n\nbill to:\njohn doe\n\n‘alpha bravo road 33\n\np: 111-222-333, f: 111-222-334\nclient@example.net\n\nshipping to:\njohn doe office\n\noffice road 38\n\np: 111-333-222, f: 122-222-834\noffice@example.net\n\nhttp://mrsinvoice.com\n\n \n\n \n\n \n\n \n\n \n\n \n\ninvoice # 00001\ninvoice date cit.\nname of rep. bob\n\ncontact phone 101-102-103\n\n \n\npayment terms\n\n \n\n \n\ncash on delivery\n\n \n\n \n\namount due: $4,170\n\n \n\n \n\n \n\n \n\nno products / service quantity / rate / unit amount\nhours: price\n\n1 tye 2 $20 $40\n\n2 | steering wheel 5 $10 $50\n\n3 | engine oi 10 $15 $150\n\n4 | brake pad 24 $1000 $2,400\n\nsubtotal $275\n\ntax (10%) $27.5\n\ngrand total $202.5\n\n‘thank you for your business',
 'test document\n\ntriad group plc\n\n3 caldecotte lake business park,\ncaldecotte lake drive,\ncaldecotte,\n\nmilton keynes,\n\nmkt 8lf\n\nphone: 01908 278450\n\nto:\n\ncatherine dale\njuniper telecoms plc,\nhansford house,\ncharles avenue,\nlichfield no9 7ts\n\ntre\n\ninvoice\n\ninvoice # 00237/18\ndate: 06/09/2018\n\nfor:\n\noffice 365 implementation\np.o. number: cd6643-01/18\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\ndescription hours | rate/hr | amount\n(0365 consultancy services 225 £100.00 | £2,250.00\nms powerapps implementation 175 £100.00 | £1,750.00\nbusiness analysis 2 £100.00 | £3,200.00\n0365 training 115 £50.00 £575.00\nms powerapps training 5 £50.00 £250.00\n\nsubtotal [_ £8,025.00\n\nvat @ 20% [_ £1,605.00\n\ntotal | £9,630.00',
 'd. brawn manufacture\n\ninvoice no. dvt-ax-345678\n\npayment date: 03/12/2006\n\n \n\n \n\n \n\nreference designation qty unit price totalchf sales\nwork\nservice d complete overhaul di 5500.00 5500.00 220\nservice d refreshing complete case 1 380.00 380.00 220\nand rhodium bath\nexterior parts:\njo.297.065.fp flat gasket 1 3.00 3.00 220\njo.197.075.fp flat gasket 1 4.00 4.00 220\njo.199.059.0s flat round gasket 1 6.00 6.00 220\nvi.261.036.bc w.g.fixation screws 10 4.00 40.00 220\nai.465.055.bc white gold "foil" 1 70.00 70.00 220\npair of hand\nlength: 10/13.50mm\ncalibre 2868\nspecial discount -3003.00 -3003.00\ndiscount -900.00 -900.00\ntotal chf 3706.05\nreturn after repair\nno commercial value\npayment:\nmr. john doe\ngreen street 15, office 4\n1234 vermut\n\nnew caledonia\n\ncredit card: visa\ncard no: 112345678',
 '[hotel name]\n\n[address] setup my hotel\n\n[city, st zip]\n\nfax / phone:\n\nemail:\n\n4/8/2018\n\nguest name: 12346\n\naddress\n\nary\n\nmobile / email 4/4/2018 16:00\n\nbilling notes\n4/4/2018 11:00\n\n   \n\n  \n \n\ndescription\nroom chages - 04/04/2018\ngst-12%\n\nlaundry -05/04/2018\nroom chages - 04/04/2018\ngst-12%\n\nunit price\n5,000.00\n600.00\n\n  \n  \n \n\namount\n5,000.00\n600.00\n\n \n\n \n \n\n   \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\nthank you for your business! subtotal 6,470.00\ntotal\n\nregardless of the billing instruction | agree to be held personally liable for payment of the total amount of this bill.\n\ncashier signature guest signature\n\nthanks for choosing - [your hotel name]\npage 1-1\nsetupmyhotel.com',
 'sss,agency invoice\n\ncambridge,\ncb2 8x\n\nmain director tele: 07981423683\nwebsite: www.scsaaency18.bloaspol.co.uk\n\n \n\nname: _shelby lucier (scs agency main director) date:_13/02/15\naddress: _6 glebe road\n\ncity: cambridge _ state: cambridgeshire zip code: _cb1 78z\nphone: _ 07981423683 _alt. phone: _01223 507400\n\n \n\n \n\ndescription price (£ xtime)| total(£)\nimage capture & record of meetings 758 7.58\nimage ediling 15.16 22.74\ninitial sticker planning 758 30.32,\nnoles being taken 013 30.45\ninitial postcard planning | 22.74 s39\nnote ediling & finalising 379 56.98\ncontacting client 15.16 72.14\nfinalising ideas (stickers & postcard - front and back) 22.74 94.88\nprinting stickers - 6.5cm width x 600 copies 54.00 +377 152.67"\nprinting postcards -as x 40 copies 1800-2 | 1,956.46\nbus time travel - 30 minutes one way (30 min x 4 travels) 16.80 4,973.26\n\ntravel io bus stop from college 0.06 1.97332\ntravel from bus stop to burwash manner 0.08 1,973.38\n\n‘meeting running time x2 764 1,981.02\n(grand total £1,981,02\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\nimportant notes:\n\nthe guidlines of this invoice are sicily professional. the minimum wage_ sub total: _1.981.02\n\ntor under 18\'s inthe uniled kingdom is £3.79 per hour. tax: 20%vat=396.20\n\ntotal due: _ £1.584.82\n\nfuthorized signatures\n\nthank you for your business!']

We have successfully extracted the text from the images through pytesseract.

Now we will use this text to do natural language processing and understand their contents

In [15]:
import pandas as pd

In [16]:
res=pd.DataFrame(restaurant_bills)
res
res["label"]="Res"

In [17]:
nonres=pd.DataFrame(non_restaurant_bills)
nonres
nonres["label"]="NonRes"

In [18]:
df=pd.concat([res,nonres])
df

                                                   0   label
0  1 no waiter\n\nab6i5 waiter 5 06/06\niten pric...     Res
1  mocambo restaurant\n258, park street\nkolkata-...     Res
2  anandha bhavan a/c\n13 /a ecr wain road. pilla...     Res
3  biil\n\ndeso1/07/17  o1244ph m/cz04 no:459\n45...     Res
4  chinese plate\n\nfood business center\n\n23232...     Res
5  family restaurant\n\nviay nagar, nearby c21 ma...     Res
6  arham restaurant llp\nva/2,raghuvanshi 4111 co...     Res
7  sukhdey yaishno dhaba\nroad, murthal, sonipat....     Res
8  vivaha bhojananbu\nroad no.10, jubilee hills\n...     Res
9                               253.50\n\ne\n\ntotal     Res
0  , invoice\n\nyour company llc address 123, sta...  NonRes
1  test document\n\ntriad group plc\n\n3 caldecot...  NonRes
2  d. brawn manufacture\n\ninvoice no. dvt-ax-345...  NonRes
3  [hotel name]\n\n[address] setup my hotel\n\n[c...  NonRes
4  sss,agency invoice\n\ncambridge,\ncb2 8x\n\nma...  NonRes

In [19]:
df.columns=['bill','label']

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
from sklearn.decomposition import TruncatedSVD 
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import cohen_kappa_score,accuracy_score
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from wordcloud import WordCloud,STOPWORDS
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter 
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier  
from sklearn.svm import SVC

We formulate the problem as a classification problem

In [21]:
def model_TFIDF(df):
  X=df.bill
  y=df.label
  x_train,x_val,y_train,y_val=train_test_split(X,y,test_size=0.3,random_state=123456)
  vectorizer=TfidfVectorizer(stop_words=STOPWORDS,use_idf=True,ngram_range=(1,1))
  vectorizer.fit(x_train)
  x_train=vectorizer.transform(x_train)
  x_val=vectorizer.transform(x_val)
  print(x_train)
  print(x_train.shape)
  print(x_val.shape) 
  
  def model(model):
    model.fit(X=x_train,y=y_train)
    pred_val=model.predict(x_val)
    acc=accuracy_score(pred_val,y_val)
    cohen=cohen_kappa_score(pred_val,y_val)
    return (acc,cohen) 
  lr=LogisticRegression()
  x=model(lr)
  print(f"Accuracy for Logistic Regression is {x[0]}")
  print(f"Cohen Kappa Score for Logistic Regression is {x[1]}")
  tree=DecisionTreeClassifier()
  x=model(tree)
  print(f"Accuracy for Decision Tree is {x[0]}")
  print(f"Cohen Kappa Score for Decision Tree is {x[1]}")
  sv=SVC()
  x=model(sv) 
  print(f"Accuracy for Suppoert Vector Machine is {x[0]}")
  print(f"Cohen Kappa Score for Suppoert Vector Machine is {x[1]}")

In [22]:
model_TFIDF(df)

  (0, 533)	0.05946668120890018
  (0, 528)	0.05946668120890018
  (0, 518)	0.05946668120890018
  (0, 517)	0.05946668120890018
  (0, 516)	0.05946668120890018
  (0, 514)	0.05946668120890018
  (0, 510)	0.05055211190228284
  (0, 499)	0.05946668120890018
  (0, 498)	0.02408152591888224
  (0, 474)	0.05055211190228284
  (0, 463)	0.05946668120890018
  (0, 453)	0.0706251100301708
  (0, 446)	0.05946668120890018
  (0, 441)	0.05946668120890018
  (0, 435)	0.05055211190228284
  (0, 433)	0.05946668120890018
  (0, 432)	0.05946668120890018
  (0, 430)	0.05946668120890018
  (0, 428)	0.05946668120890018
  (0, 427)	0.05946668120890018
  (0, 421)	0.04422712432170274
  (0, 414)	0.0353125550150854
  (0, 400)	0.10110422380456568
  (0, 397)	0.05946668120890018
  (0, 394)	0.05946668120890018
  :	:
  (9, 141)	0.07884672661584392
  (9, 139)	0.07884672661584392
  (9, 122)	0.18550177152214922
  (9, 110)	0.18550177152214922
  (9, 106)	0.07884672661584392
  (9, 105)	0.09275088576107461
  (9, 89)	0.18550177152214922
  (9, 80)	0.09275088576107461
  (9, 76)	0.07884672661584392
  (9, 73)	0.09275088576107461
  (9, 72)	0.09275088576107461
  (9, 68)	0.09275088576107461
  (9, 63)	0.09275088576107461
  (9, 59)	0.09275088576107461
  (9, 56)	0.09275088576107461
  (9, 55)	0.09275088576107461
  (9, 50)	0.09275088576107461
  (9, 43)	0.09275088576107461
  (9, 41)	0.12265911549819623
  (9, 40)	0.09275088576107461
  (9, 38)	0.09275088576107461
  (9, 24)	0.049791293586833804
  (9, 15)	0.06132955774909812
  (9, 9)	0.06898156870555518
  (9, 0)	0.5974955230420057
(10, 541)
(5, 541)
Accuracy for Logistic Regression is 0.6
Cohen Kappa Score for Logistic Regression is 0.0
Accuracy for Decision Tree is 0.2
Cohen Kappa Score for Decision Tree is -0.6666666666666667
Accuracy for Suppoert Vector Machine is 0.6
Cohen Kappa Score for Suppoert Vector Machine is 0.0

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:401: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aren', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn'] not in stop_words.
  % sorted(inconsistent)

In [23]:
def model_SVD(df):
  X=df.bill
  y=df.label
  x_train,x_val,y_train,y_val=train_test_split(X,y,test_size=0.3,random_state=123456)
  vectorizer=TfidfVectorizer(stop_words=STOPWORDS,use_idf=True,ngram_range=(1,1))
  vectorizer.fit(x_train)
  x_train=vectorizer.transform(x_train)
  x_val=vectorizer.transform(x_val)
  SV=TruncatedSVD(n_components=10)
  SV.fit(x_train)
  x_train=SV.fit_transform(x_train)
  print(x_train)
  print(x_train.shape)
  x_val=SV.transform(x_val)
  def model(model):
    model.fit(X=x_train,y=y_train)
    pred_val=model.predict(x_val)
    acc=accuracy_score(pred_val,y_val)
    cohen=cohen_kappa_score(pred_val,y_val)
    return (acc,cohen) 
  lr=LogisticRegression()
  x=model(lr)
  print(f"Accuracy for Logistic Regression is {x[0]}")
  print(f"Cohen Kappa Score for Logistic Regression is {x[1]}")
  tree=DecisionTreeClassifier()
  x=model(tree)
  print(f"Accuracy for Decision Tree is {x[0]}")
  print(f"Cohen Kappa Score for Decision Tree is {x[1]}")
  sv=SVC()
  x=model(sv) 
  print(f"Accuracy for Suppoert Vector Machine is {x[0]}")
  print(f"Cohen Kappa Score for Suppoert Vector Machine is {x[1]}")

In [24]:
model_SVD(df)

[[ 6.93885154e-01 -1.81311162e-01  1.57955322e-02 -2.53269180e-02
   1.01566232e-02  4.91454640e-02 -6.33166934e-02 -1.16691676e-01
  -5.23025972e-01 -4.37101993e-01]
 [ 7.06506305e-02  3.36158331e-01  5.54136965e-01 -6.97132059e-03
   7.01327057e-01 -8.57991711e-02  2.72402477e-01 -7.42679907e-04
  -3.62199749e-02 -1.23694895e-02]
 [ 1.01152499e-01  3.54194889e-01 -2.29518005e-01  8.62292593e-01
   1.04129041e-01  1.08373124e-01 -1.49627895e-01  1.38532189e-01
  -1.55943682e-03 -6.25893363e-02]
 [ 5.34300515e-01 -9.92249482e-02  5.51075882e-02 -8.91235328e-02
  -8.84755964e-02 -6.82713600e-02  1.47652368e-01  7.95363719e-01
   1.60641790e-01 -3.15936310e-02]
 [ 6.41143065e-01 -1.41205051e-01  1.03217250e-02  4.26296993e-02
   6.94076128e-02 -1.37403134e-02 -4.09453054e-02 -3.47012602e-01
   6.34071267e-01 -1.94746057e-01]
 [ 1.27039258e-01  4.96527967e-01 -3.93018228e-01 -3.87904018e-01
   2.52114858e-01 -3.16374781e-01 -5.11431675e-01  7.50013719e-02
   1.39008069e-02 -3.67756701e-02]
 [ 1.79973165e-01  4.89196234e-01  1.99704881e-01  8.00792645e-02
  -5.40578384e-01 -5.43816338e-01  2.66200893e-01 -1.45917968e-01
  -3.66712151e-02 -2.32600619e-02]
 [ 2.38327340e-01  3.62925588e-01 -5.29959775e-01 -2.02850075e-01
   3.98131648e-02  3.77591103e-01  5.79056261e-01 -8.76976791e-02
  -1.78104521e-02  4.47794995e-02]
 [ 1.76525690e-01  4.46911771e-01  4.35607015e-01 -1.59208622e-01
  -3.04467693e-01  5.96769606e-01 -3.19620625e-01  1.38290620e-02
   3.67890390e-02  3.83553536e-02]
 [ 7.36416031e-01 -1.44927631e-01  5.96798928e-04  8.47978738e-02
   6.13262423e-02 -6.92351984e-02 -1.05015909e-01 -1.36166966e-01
  -1.68573640e-01  6.02457549e-01]]
(10, 10)
Accuracy for Logistic Regression is 0.6
Cohen Kappa Score for Logistic Regression is 0.0
Accuracy for Decision Tree is 0.2
Cohen Kappa Score for Decision Tree is -0.4285714285714286
Accuracy for Suppoert Vector Machine is 0.6
Cohen Kappa Score for Suppoert Vector Machine is 0.0

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:401: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aren', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn'] not in stop_words.
  % sorted(inconsistent)

We use TF IDF and then apply truncated SVD as we need to transform the text to apply ML models on the data

In [25]:
X=df.bill
y=df.label
vectorizer=TfidfVectorizer(stop_words=STOPWORDS,use_idf=True,ngram_range=(1,1))
vectorizer.fit(X)
x=vectorizer.transform(X)
SV=TruncatedSVD(n_components=10)
SV.fit(x)
x=SV.transform(x)
def model(model):
    model.fit(X=x,y=y)
    return model

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:401: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aren', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn'] not in stop_words.
  % sorted(inconsistent)

#Logistic Regression

In [26]:
lr=LogisticRegression()
m=model(lr)

We pass the fitted model and the image address for testing

In [27]:
def test(address,model):
  text=get_text(address)
  a=[]
  a.append(text)
  t=pd.DataFrame(a)
  t=t.iloc[:,0]
  print(t)
  t=vectorizer.transform(t)
  t=SV.transform(t)
  print(f"The prediction is {model.predict(t)[0]}")

In [28]:
test('/content/drive/MyDrive/EY/1.jpg',m)

0    ' invoice\n\nyour company llc address 123, sta...
Name: 0, dtype: object
The prediction is Res

In [29]:
test('/content/drive/MyDrive/EY/bill3.jpg',m)

0    ying thai kitchen\n2220 queen anne ave n\nseat...
Name: 0, dtype: object
The prediction is Res

In [30]:
test('/content/drive/MyDrive/EY/petrolbill.jpg',m)

0    “a\n\ndll\n\nwe understand your world\nhari sa...
Name: 0, dtype: object
The prediction is Res

#Decision Tree

In [31]:
tree=DecisionTreeClassifier()
m=model(tree)
test('/content/drive/MyDrive/EY/1.jpg',m)

0    ' invoice\n\nyour company llc address 123, sta...
Name: 0, dtype: object
The prediction is NonRes

In [32]:
test('/content/drive/MyDrive/EY/bill3.jpg',m)

0    ying thai kitchen\n2220 queen anne ave n\nseat...
Name: 0, dtype: object
The prediction is Res

In [33]:
test('/content/drive/MyDrive/EY/petrolbill.jpg',m)

0    “a\n\ndll\n\nwe understand your world\nhari sa...
Name: 0, dtype: object
The prediction is Res

#Support Vector Machine

In [34]:
sv=SVC()
m=model(sv)
test('/content/drive/MyDrive/EY/1.jpg',m)

0    ' invoice\n\nyour company llc address 123, sta...
Name: 0, dtype: object
The prediction is NonRes

In [35]:
test('/content/drive/MyDrive/EY/bill3.jpg',m)

0    ying thai kitchen\n2220 queen anne ave n\nseat...
Name: 0, dtype: object
The prediction is Res

In [36]:
test('/content/drive/MyDrive/EY/petrolbill.jpg',m)

0    “a\n\ndll\n\nwe understand your world\nhari sa...
Name: 0, dtype: object
The prediction is Res

#KNN

In [37]:
from sklearn.neighbors import KNeighborsClassifier

In [38]:
knn=KNeighborsClassifier()
m=model(knn)
test('/content/drive/MyDrive/EY/1.jpg',m)

0    ' invoice\n\nyour company llc address 123, sta...
Name: 0, dtype: object
The prediction is NonRes

In [39]:
test('/content/drive/MyDrive/EY/bill3.jpg',m)

0    ying thai kitchen\n2220 queen anne ave n\nseat...
Name: 0, dtype: object
The prediction is NonRes

In [40]:
test('/content/drive/MyDrive/EY/petrolbill.jpg',m)

0    “a\n\ndll\n\nwe understand your world\nhari sa...
Name: 0, dtype: object
The prediction is Res

#Naive Bayes

In [41]:
from sklearn.naive_bayes import GaussianNB

In [42]:
gnb=GaussianNB()
m=model(gnb)
test('/content/drive/MyDrive/EY/1.jpg',m)

0    ' invoice\n\nyour company llc address 123, sta...
Name: 0, dtype: object
The prediction is NonRes

In [43]:
test('/content/drive/MyDrive/EY/bill3.jpg',m)

0    ying thai kitchen\n2220 queen anne ave n\nseat...
Name: 0, dtype: object
The prediction is Res

In [44]:
test('/content/drive/MyDrive/EY/petrolbill.jpg',m)

0    “a\n\ndll\n\nwe understand your world\nhari sa...
Name: 0, dtype: object
The prediction is NonRes

#Result

As it can be seen above, KNN and Naive Bayes were able to classify the bills properly into their respective categories.

#Conclusion

We can see that we successfully developed a program which could read images, extract text out of these images.After this, we labelled these texts as restuarant bills and non-restuarant bills.After this we transformed the text in TF IDF and then transformed the it in truncated SVD with number of components=10. After this we formulated it as a classification problem and applied Logistic Regression,Decision Tree, Support Vector Machine,KNN Classification and Naive Bayes.We tested the models on 3 test data and it KNN and Naive Bayes were able to classify these 3 bills correctly.

Though we had only few bills for training and testing the model, we know as per experience, that, the more data nlp models have the better they start to perform; and thus our model can be improved much further and that can be the future scope of this project.